*{
    box-sizing: border-box;
}
/*Final Done*/
.contact-container {
    background-image: url(/images/bg.svg);
    padding: 0px 20px !important;
    padding-top: 100px !important;
    width: 100vw;
}

.contact-row-1 {
    width: 100%;
    max-width: 600px;
}
.contact-row-2{
    width: 100%;
    max-width: 700px !important;
}
.contact-row-2-sub{
    border-radius: 10px;
}


.contact {
    letter-spacing: 6px;
    font-size: 2.5rem;
}

.hamburger-stick {
    height: 5px;
    width: 30px;
    background-color: #7843e9;
    border-radius: 10px;
}

.contact-description {
    margin-top: 40px;
    font-size: 20px;

}

.submit-btn {
    color: white;
    background-color: #7843e9;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    letter-spacing: 3px;
    margin: 20px 0px;
    width: 100%;
    max-width: 300px;
    align-self: center;
}


.input-heading {
    color: #252525;
}

input,
textarea {
    font-size: 18px !important;
    padding: 10px 15px;
    border: none;
    background-color: #ececec;
    border-radius: 10px;
}
.textarea {
    resize: none;
    height: 200px;
}

input::placeholder {
    color: #838383;
}
input:focus,textarea:focus{
    outline: 3px solid #7843e9 !important;
    font-weight: 500 !important;
}
.footer {
    background-color: black;
    color: white;
    font-size: 16px;

}

